#btn-principal-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 -60px 0 hsl(192, 100%, 9%);
}


#btn-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    text-align: center;
    padding: 40px 80px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px 0px rgba(60, 60, 60, 0.1);
}

#btn-principal h2 {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: hsl(192, 100%, 9%);
    margin-bottom: 40px;
}
