body {
    width: 100%;
    height: 100vh;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Open Sans";
}

img {
    width: 100%;
}

.container {
    max-width: 1400px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.botao {
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 700;
    text-decoration: none;
    background-color: hsl(322, 100%, 66%);
    color: #ffffff;
    width: max-content;
    padding: 16px 60px;
    border-radius: 50px;
}

.botao:hover {
    background-color: hsl(322, 97%, 75%);
}